<nav class="navbar navbar-light bg-white fixed-top px-3">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "doggy.svg", style: "width:100px; height: auto;" %>
    <% end %>

    </div>
</nav>
